{%- extends "partials/layout.njk" -%}
{%- from "moj/components/domain-specific/probation/footer/macro.njk" import pdsFooter -%}
{%- from "govuk/components/details/macro.njk" import govukDetails -%}

{% set showDowntimeNotificationBanner = featureFlags.downtimeNotificationBanner %}

{% set backlink = previousPageUrl %}
{% set fullPageTitle = step.title + ' - ' + applicationName %}
{% set pageTitle %}
  {% if not fieldValidationErrors.length %}
    {{ fullPageTitle }}
  {% else %}
    {{ 'Error: ' + fullPageTitle }}
  {% endif %}
{% endset %}

{% block govukHeader %}
  {{ super() }}
  {% include "sentence-plan/views/partials/phase-banner.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if showDowntimeNotificationBanner %}
        <div class="policy-downtime-banner govuk-width-container govuk-!-display-none-print" data-qa="downtime-banner">
          {% include "sentence-plan/views/partials/downtime-banner.njk" %}
        </div>
      {% endif %}
      {% if backlink %}
        <a href="{{ backlink }}" class="govuk-back-link" data-ai-id="back-link">Back</a>
      {% endif %}

      {% for block in blocks %}
        {{ block | safe }}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% block supportWidget %}
    {% set reportProblemHtml %}
      <p class="govuk-body">
        Copy this information and paste it into the
        <a href="{{ serviceNowFormUrl }}" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noopener noreferrer">ServiceNow form (opens in a new tab)</a>.
      </p>
      <span id="copy-alert" class="govuk-visually-hidden" aria-live="polite"></span>
      <div class="app-report-problem__info">
        <pre class="app-report-problem__details" id="report-problem-details">Request ID: {{ requestId or 'Unavailable' }}
{% if traceId and traceId != requestId %}Trace ID: {{ traceId }}
{% endif %}</pre>
        <div class="app-report-problem__copy">
          <button type="button" class="govuk-button govuk-button--secondary app-report-problem__copy-button copy-button" data-copy-target="report-problem-details">
            Copy
          </button>
        </div>
      </div>
    {% endset %}
    <div class="app-report-problem govuk-!-display-none-print" id="report-a-problem" role="complementary" aria-label="Report a problem" data-qa="report-a-problem">
      <div class="govuk-width-container">
        {{ govukDetails({
          summaryText: "Report a problem",
          html: reportProblemHtml
        }) }}
      </div>
    </div>
  {% endblock %}

  {% block govukFooter %}
    {% if targetService == "sentence-plan" %}
      {% include "sentence-plan/components/custom-sentence-plan-footer/customSentencePlanFooter.njk" %}
    {% else %}
      {{ pdsFooter({
        baseUrl: footerBaseUrl or "/platform"
      }) }}
    {% endif %}
  {% endblock %}
{% endblock %}
