$govuk-global-styles: true;
$path: '/assets/images/';

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk-frontend/dist/govuk/index';
@import '@ministryofjustice/frontend/moj/all';
@import "@ministryofjustice/hmpps-arns-frontend-components-lib/dist/all";
@import 'accessible-autocomplete/dist/accessible-autocomplete.min.css';
@import '../../server/forms/sentence-plan/components/accessible-autocomplete/accessible-autocomplete';
@import '@ministryofjustice/hmpps-forge/dist/moj-components/all';
@import '../../server/forms/sentence-plan/components/wrapping-select/wrapping-select';

// Highlight.js theme for syntax highlighting
@import 'highlight.js/styles/github';

@import './components/header-bar';
@import './components/arns-common-header';
@import './components/vertical-nav-bar';
@import './components/form';
@import './components/code-block';
@import './components/pagination';
@import './components/copy-button';
@import './components/support-widget';
@import './components/report-problem';
@import './components/session-timeout-modal';
@import './components/layout';
@import './components/footer';
@import './components/plan-header';
@import './overrides/local';
