@import 'govuk-frontend/dist/govuk/base';

@import 'navigation/side-nav';

.page-sub-heading {
  @include govuk-font($size: 24);
  margin-bottom: -5px;
}

.summary-answer-list {
  margin-bottom: govuk-spacing(2);

  .govuk-summary-list__key,
  .govuk-summary-list__value {
    @include govuk-font(16);
    padding-top: 0;
    padding-bottom: govuk-spacing(1);
  }

  .govuk-summary-list__key {
    width: 8em;
    font-weight: bold;
  }
}

.assessment-header {
  @include govuk-font(19);
  margin-top: govuk-spacing(3);

  & .govuk-grid-column-one-half {
    @include govuk-media-query($until: tablet) {
      margin: govuk-spacing(3) 0;
    }
  }

  & a {
    @include govuk-media-query($until: tablet) {
      width: 100%;
    }
  }

  &__subject-details {
    margin-left: govuk-spacing(-3);
    margin-right: govuk-spacing(-3);
    margin-bottom: 15px;
    color: #505a5f;

    &__name {
      @include govuk-font($size: 24, $weight: bold);
      margin-right: govuk-spacing(3);
      margin-bottom: 0;
    }

    & * {
      margin: 0;
    }

    & .govuk-link {
      text-align: right;
    }

    &__top {
      display: block;
      justify-content: space-between;
      align-items: baseline;
      width: 100%;

      & ul {
        list-style: none;
        padding-inline-start: unset;
        justify-content: flex-end;
        align-items: flex-end;
        display: flex;
      }

      & dd,
      & dt,
      & li {
        display: inline;
        margin-left: 0;
        @include govuk-font(16);
      }

      & * dd {
        border-right: 1px solid gray;
        padding-right: govuk-spacing(1);

        &:last-of-type {
          border: none;
        }
      }

      & dt {
        padding-right: govuk-spacing(1);
      }

      & dd {
        padding-left: govuk-spacing(0);
      }

      & a {
        @include govuk-font(19);
        padding-left: govuk-spacing(1);
      }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      &__actions {
        display: flex;
        justify-content: flex-end;

        & a {
          margin-bottom: govuk-spacing(3);
        }
      }
    }
  }
}
